.bg_text {   
    background-color: red;
    border-radius: 0 50px 0 50px;
    display: block;
    height: 240px;
    left: 10%;
    opacity: 0.3;
    position: absolute;
    width: 80%;
    z-index: 100;
}
.bg_button {   
    height: 120px;
    width: 120px;
}
.dinamic_content {
    margin: 150px 0 0 0;
    width: 100%;
}
h1 {
    color: white;
    text-align: center;
}
html {
    background: url(../images/bg_music2.jpg);
    background-size: cover;
}
kbd {
    display: block;        
    font-size: 40px;
    vertical-align: middle;
}
.keys {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    min-height: 400px;
    top: 260px;
    width: 80%;    
}
.key {
    background: white;
    border-radius: 10px;
    color: #3B0B0B;
    cursor: pointer;
    height: 80px;
    justify-content: center;
    margin: 10px;
    text-align: center;
    transition: all 0.1s;
    width: 80px;
}
.playing {        
    border: 2px solid #DF013A;
    box-shadow: 1px 1px 18px 4px white;
    color: #DF013A;
    transform: scale(1.1);
}
.selected_speed{  
    background-color: green !important;     
    box-shadow: 1px 1px 18px 1px white;   
    transform: scale(1.1);  
}
.sound {
    color: red;
    font-size: 20px;
    letter-spacing: 2px;
}
.speed_control {
    background-color: #8A0829;
    border: 4px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 26px;
    font-weight: 900;
    height: 25px;
    line-height: 25px;
    margin: 10px 30px;
    padding: 2px;
    right: 10px;
    text-align: center;
    width: 25px;
    z-index: 200;
}
.speed_control:hover{
    background-color: green !important;     
    box-shadow: 1px 1px 18px 1px white;   
    transform: scale(1.1);
}
.speed_control.fast_speed {
    top: 5px;
}
.speed_control.normal_speed {
    top: 25%;
}
.speed_control.slow_speed {
    top: 51%;
}
.text {
    background: transparent;
    border-radius: 0 50px 0 50px;
    color: white;
    display: block;
    font-size: 32px;
    height: 100px;
    text-align: center;
    position: relative;
    z-index: 200;
}
.title {    
    background-color: white;
    border: 0;
    color: black;
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding: 0;  
    width: 100%;
}
.title_speed_control {    
    border-radius: 10px 0 10px 0;
    color: white;
    display: block;    
    font-size: 18px;
    font-style: italic;
    height: auto;     
    line-height: 60px;   
    padding: 0 0 0 10px;
    width: 120px;
}
.velocity_control {
    background-color: black;    
    border: 1px solid white;
    border-radius: 20px 0 20px 0;  
    bottom: 0;  
    box-shadow: 1px 1px 18px 4px white;
    display: flex;    
    float: left;
    justify-content: center; 
    padding: 10px;  
    position: fixed;
    width: 100%;
}